<div class="cards" *ngIf="requestExecuted">
  <!-- class subsection avoids single div getting a separate row in smaller sized window -->
  <div class="subsection">
    <div class="stat">
      <div class="title">Invested amount</div>
      <div class="content">{{ totalInvestedAmount }}</div>
    </div>
    <div class="stat">
      <div class="title">Current value</div>
      <div class="content">{{ overview.currentValue }}</div>
    </div>
  </div>
  <div class="subsection">
    <div class="stat">
      <div class="title" *ngIf="overview.currentValue >= totalInvestedAmount">Profit</div>
      <div class="title" *ngIf="overview.currentValue < totalInvestedAmount">Loss</div>
      <div
        class="content"
        [ngClass]="
          overview.currentValue >= totalInvestedAmount ? 'profit' : 'loss'
        "
      >
        {{ overview.profitLoss }}
      </div>
    </div>
    <div class="stat">
      <div class="title" *ngIf="overview.currentValue >= totalInvestedAmount">Gain</div>
      <div class="title" *ngIf="overview.currentValue < totalInvestedAmount">Lose</div>
      <div class="content" [ngClass]="
      overview.currentValue >= totalInvestedAmount ? 'profit' : 'loss'
    ">{{ overview.profitLossPercentage }}%</div>
    </div>
  </div>
  <div *ngIf="!totalInvestedAmount" class="importDiv">
    <span style="margin-right: 10px">
      Import portfolio to see more details
    </span>
    <button mat-raised-button color="primary" (click)="importTradebook()">
      Import
    </button>
  </div>
</div>
