<!-- <div class="main centred shadow rounded25">
  <mat-card class="rounded25" *ngIf="requestExecuted">
    <mat-card-title>Welcome user</mat-card-title>
    <mat-card-subtitle>Show user info here</mat-card-subtitle>
    <mat-card-content>
      <div>Show investment stats here</div>
      <div>You have invested Rs. {{ totalInvestedAmount }}</div>
      <div style="padding-top: 15px">
        <div *ngIf="!totalInvestedAmount">
          <span style="margin-right: 10px">
            You have not imported your portfolio, start here!
          </span>
          <button mat-raised-button color="primary" (click)="importTradebook()">
            Import
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          *ngIf="totalInvestedAmount"
          routerLink="/portfolio"
        >
          View portfolio
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->
<div class="cards" *ngIf="requestExecuted">
  <!-- class subsection avoids single div getting a separate row in smaller sized window -->
  <div class="subsection">
    <div class="stat">
      <div class="title">Invested amount</div>
      <div class="content">{{ totalInvestedAmount }}</div>
    </div>
    <div class="stat">
      <div class="title">Current value</div>
      <div class="content">{{ overview.currentValue }}</div>
    </div>
  </div>
  <div class="subsection">
    <div class="stat">
      <div class="title" *ngIf="overview.currentValue >= totalInvestedAmount">Profit</div>
      <div class="title" *ngIf="overview.currentValue < totalInvestedAmount">Loss</div>
      <div
        class="content"
        [ngClass]="
          overview.currentValue >= totalInvestedAmount ? 'profit' : 'loss'
        "
      >
        {{ overview.profitLoss }}
      </div>
    </div>
    <div class="stat">
      <div class="title" *ngIf="overview.currentValue >= totalInvestedAmount">Gain</div>
      <div class="title" *ngIf="overview.currentValue < totalInvestedAmount">Lose</div>
      <div class="content" [ngClass]="
      overview.currentValue >= totalInvestedAmount ? 'profit' : 'loss'
    ">{{ overview.profitLossPercentage }}%</div>
    </div>
  </div>
  <div *ngIf="!totalInvestedAmount" class="importDiv">
    <span style="margin-right: 10px">
      Import portfolio to see more details
    </span>
    <button mat-raised-button color="primary" (click)="importTradebook()">
      Import
    </button>
  </div>
</div>
<div>hahahahahahh</div>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
</div> -->

<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [labels]="chartOptions.labels"
    [annotations]="chartOptions.annotations"
  ></apx-chart>
</div>
